.Introduce {
  display: flex;
  align-items: flex-start;
  .LeftInfo {
    width: 60%;
    h1 {
      margin-top: 25px;
      font-size: 70px;
      line-height: 2;
    }
    .Paragraph {
      width: 85%;
      font-size: 20px;
      line-height: 2;
    }
  }
  .RightInfo {
    width: 40%;
    h1,
    h2,
    h3 {
      margin-top: 10px;
    }
    h1 {
      font-size: 60px;
    }
    h2 {
      font-size: 30px;
    }
    h3 {
      font-size: 20px;
    }
    h4 {
      font-size: 18px;
      display: inline-block;
      border-bottom: 3px solid black;
    }
    .district {
      text-align: center;
      margin-top: 15px;
      font-size: 20px;
      border-top: 5px solid black;
      border-bottom: 5px solid black;
      padding: 5px 0;
    }
    .Logo_phone {
      margin-top: 25px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      .logoIphone {
        width: 200px;
      }
      .phone {
        font-size: 70px;
        margin-right: 45px;
        font-weight: bold;
        line-height: 1.5;
      }
    }
  }
}
