.Interests {
  margin-top: 20px;
  .titles {
    display: flex;
    justify-content: space-between;
    border-bottom: 5px solid #000;
  }
  .descriptions {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    p {
      font-size: 17px;
      letter-spacing: 0.5px;
    }
  }
  margin-bottom: 200px;
}
